{% extends 'base.html.twig' %}

{% block title %}Créer un event{% endblock %}


{% block body %}
<style>
    #event_save{margin: 2% 0 10% 0}
</style>

    <h1>Créer un nouvel évènement</h1>

    <p>{{ form(form)}}</p>
    
{% endblock %}