<h1>Bonjour cher client !</h1>

<p>
    Merci de confirmer votre mail en clickant sur ce lien : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce lien va expirer dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Nous tenons à vous remercier chaleureusement pour avoir choisi CoffeeTalk et pour avoir créé votre compte sur notre plateforme. Nous sommes ravis de vous accueillir parmi notre communauté de passionnés du café.

Votre inscription nous permettra de mieux vous servir et de vous offrir une expérience café exceptionnelle. Vous pourrez désormais profiter de toutes les fonctionnalités de notre site, notamment la réservation en ligne, la consultation de notre menu, et bien plus encore !

N'hésitez pas à nous contacter si vous avez des questions ou des suggestions. Notre équipe est là pour vous aider et vous accompagner dans votre parcours chez CoffeeTalk.

Encore une fois, merci de nous faire confiance. Nous avons hâte de vous voir bientôt dans l'un de nos cafés !

Cordialement,

L'équipe CoffeeTalk
</p>
