{% extends 'base.html.twig' %}

{% block title %}Créer un article{% endblock %}


{% block body %}
<style>
    #article_save{margin: 2% 0 10% 0}
</style>

    <h1>Créer un nouvel article</h1>

    <p>{{ form(form)}}</p>
    
{% endblock %}